.main__hero{
    width: 93vw;
    height: 80vh;
    margin-left: 40px;
}

.hero__image{
    position: absolute;
    width: 1002px;
    height: 595px;
    left: 219px;
    top: 160px;
    height: 50%;
}

.sideview__images{

}

.sideview__images img{
    position: absolute;
    width: 79px;
    height: 80px;
    left: 100px;
}

.product__information{
    position: absolute;
    width: 292px;
    height: 27px;
    left: 929px;
    top: 380px;
    font-family: 'Raleway';
    font-style: normal;
    display: flex;
    align-items: center;
    color: #1D1F22;
}

#product_title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
}

#product_description{
    margin-top: 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
}

.box__type__tag{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
}

.size__box{
    border:1px solid black;
    width: 63px;
    height: 45px;
    text-align: center;
    padding-top: 8px;
    margin-right: 10px;
}

.color__box{
    border:2px solid rgb(185, 182, 182);
    width: 36px;
    height: 36px;
    text-align: center;
    padding-top: 8px;
    margin-right: 10px;
}
